




<!-- <form class="" action="<%=student_path(@student)%>/activation" method="POST">

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="PUT">

  <label for="activation">Status:</label>
  <label for="false">false</label>
  <input type="radio" name="activation" id="false" value="false" <%= if student.active == false then "checked" end %> >
  <label for="true">true</label>
  <input type="radio" name="activation" id="true" value="true" <%= if student.active == true then "checked" end %> >
  <input type="submit" name="" value="submit">
</form> -->
